* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100dvh;
    font-size: 1.5rem;

    background-color: lightgrey;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    padding: 1rem;


    background-color: rgb(131, 131, 131);
}

#names {
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: .4rem;
}

#center {
    flex: 1;
    display: flex;
    flex-direction: row;

    align-items: stretch;
}

#main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 1rem;

    background-color: rgba(168, 212, 152, 1);
}

#book-button {
    width: 20%;
}

#passenger-icon {
    cursor: pointer;
    height: 10%;
    width: auto;
}

.form-output {
    white-space: pre;
}

#hotels-table {
    border: 2px solid black;
}

#hotels-table td {
    padding-left: .25rem;
    padding-right: .25rem;
}

#hotels-table th {
    padding-left: .25rem;
    padding-right: .25rem;
}

#flights-table {
    border: 2px solid black;
}

#flights-table td {
    padding-left: .25rem;
    padding-right: .25rem;
}

#flights-table th {
    padding-left: .25rem;
    padding-right: .25rem;
}

#cars-table {
    border: 2px solid black;
    border-collapse: collapse; /* Optional, but prevents double borders */
}

#cars-table td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#cars-table th {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}


#side {
    padding: 5rem;

    background-color: rgba(87, 161, 72, 1);
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding: .5rem 0;

    background-color: rgb(131, 131, 131);
    text-align: center;
    font-size: 1rem;
}

#settings {
    position: relative;
}

#settings:hover {
    cursor: pointer;
}

#settings-dialog {
    position: absolute;
    z-index: 10;
    left: -100%;
    bottom: 100%;

    display: flex;
    flex-direction: column;

    padding: .25rem;
    gap: 5px;

    white-space: nowrap;

    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}

#settings-dialog.hidden{
    display: none;
}

.hidden{
    display: none;
}